@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.gradient__sidebarbg {
    /* ff 3.6+ */
    background:-moz-linear-gradient(180deg, #AAA395 54%, #AAADA7 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(180deg, #AAA395 54%, #AAADA7 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(180deg, #AAA395 54%, #AAADA7 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AAADA7', endColorstr='#AAA395', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(180deg, #AAA395 54%, #AAADA7 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(180deg, #AAA395 54%, #AAADA7 100%);
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
